/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Inter", sans-serif;
}
/* common style */
.common_btn{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    padding: 12px 40px;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    cursor: pointer;
}

.common_width{
    max-width: 85%;
}


nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;

 
}
nav>ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
}
nav>ul li a{
    text-decoration: none;
    color: #575757;
}
.banner_main_section{
    border: 1px solid black;
    padding: 120px 0 65px;
    background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("../assets/banner.jpg");
    color: white;
}
.banner_container{
    max-width: 959px;
    margin: 0 auto;
    text-align: center;
}
.banner_container h1{
    font-size: 65px;
}
.banner_container p{
    margin: 16px auto 260px;
    font-size: 20px;
    max-width: 720px;

}