/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Inter", sans-serif;
}
/* common style */
.common_btn{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    padding: 12px 40px;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    cursor: pointer;
}
.common_width{
    max-width: 85%;
}


nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;

 
}
nav>ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
}
nav>ul li a{
    text-decoration: none;
    color: #575757;
}
.banner_main_section{
    border: 1px solid black;
    padding: 120px 0 65px;
    background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("../assets/banner.jpg");
    color: white;
}
.banner_container{
    max-width: 959px;
    margin: 0 auto;
    text-align: center;
}
.banner_container h1{
    font-size: 65px;
}
.banner_container p{
    margin: 16px auto 260px;
    font-size: 20px;
    max-width: 720px;

}

.speakrs_container{
    margin: 80px auto 30px;
}
.speakrs_container>h2{
    font-size: 45px;
    text-align: center;
    margin-bottom: 56px;
}
.speakers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 33px;
}
.speaker{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
}
.speaker img{
    width: 100%;
}
.speaker h4{
    color: #2563EB;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 8px;
}
.speaker h3{
    font-size: 20px;
    color: #0D1B2A;
    margin-bottom: 8px;
}
.speaker_description{
    padding: 24px;
}
.speaker p{
    font-size: 14px;
    color: #575757;
}

.plans_container{
    border: 1px solid black;
}

.plans_container> h3{
    font-size: 40px;
    text-align: center;
}
.plans_container>p{
font-size: 15px;
color: #575757;
text-align: center;
margin: 12px 0 40px;
}
.plans{
    max-width: 77%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.plan{
    border: 1px solid #EBEDF0;
    border-radius: 12px;
    padding: 30px;
}
.plan>h4{
    color: #888888;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.plan>h2{
    color: #0D1B2A;
    font-size: 40px;
    margin: 8px 0;
}
.plan>p{
    color: #888888;
    font-size: 13px;
}
.plan>hr{
    height: 1px;
    background-color: #E5E7EB;
    margin: 20px 0;
    border: none;
}
.plan>ul{
    list-style-position: inside;
    line-height: 25px;
    
}
.plan>ul>li::marker{
    color: #2563EB;
}
.plan >ul > li{
    font-size: 14px;
    color: #333333;
}
.button_container{
    margin-top: 20px;
}
.plan_one_button{
    background-color: white;
    color: #1D4ED8;
    width: 100%;
}

.plan2{
    background-color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
.plan2>h4{
    color: #93C5FD;
}
.plan2 h2{
    color: white;
}
.plan2>p{
    color: #868D95;
}
.plan2>hr{
    background-color: #25323F;
}
.plan2>ul>li{
    color: #FFFFFFCC;
}
.button_container button{
    width: 100%;
}
.plan3{
    background-color: #E5E7EB;
}
.plan3>hr{
    background-color: #EEEFF2;
}
.plan3 button{
    border: 1px solid #0D1B2A;
    color: #0D1B2A;
}